[access]
	inheritFrom = Platform-Unrestricted-Projects
[receive]
	requireContributorAgreement = true
[submit]
	action = merge always
	mergeContent = true
[access "refs/heads/idea133-weekly-release"]
	exclusiveGroupPermissions = create forgeAuthor forgeCommitter push
	push = group Idea133 Pusher
	create = group Idea133 Pusher
	forgeAuthor = group Idea133 Pusher
	forgeCommitter = group Idea133 Pusher
[access "refs/heads/*"]
	label-Code-Review = -2..+2 group approvers-platform-art
[access "refs/heads/master"]
	forgeAuthor = group TMP4
	forgeCommitter = group TMP4
	push = group TMP4
