// Create sections from the art and oat files.
MOE_SECT_OAT = -sectcreate __OATDATA __oatdata "${SRCROOT}/build-tvos/moe/main/xcode/${CONFIGURATION}${EFFECTIVE_PLATFORM_NAME}/${arch}.oat"
MOE_SECT_ART = -sectcreate __ARTDATA __artdata "${SRCROOT}/build-tvos/moe/main/xcode/${CONFIGURATION}${EFFECTIVE_PLATFORM_NAME}/${arch}.art"

// Set the maximum and initial virtual memory protection for the segments.
MOE_SEGPROT[sdk=appletvos*] = -segprot __OATDATA rx rx -segprot __ARTDATA rw rw
MOE_SEGPROT[sdk=appletvsimulator*] = -segprot __OATDATA rwx rx -segprot __ARTDATA rwx rw

// Set the __PAGEZERO segment size.
MOE_PAGEZERO[sdk=appletvos*] = 
MOE_PAGEZERO[sdk=appletvsimulator*] = -pagezero_size 4096

MOE_FRAMEWORK_PATH[sdk=appletvsimulator*] = ${INTEL_MULTI_OS_ENGINE_HOME}/sdk/appletvsimulator
MOE_FRAMEWORK_PATH[sdk=appletvos*] = ${INTEL_MULTI_OS_ENGINE_HOME}/sdk/appletvos

// Collect all MOE linker flags.
MOE_OTHER_LDFLAGS = ${MOE_SECT_OAT} ${MOE_SECT_ART} ${MOE_SEGPROT} ${MOE_PAGEZERO} -lstdc++

// Disable BitCode.
ENABLE_BITCODE = NO
